<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <body>
    <form>
        <div class="form-group">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Address">
            </div>
        </div>

        <div class="row">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>
    </form>
</body>
</html>