<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
    <div th:insert="fragments/header :: navbar"></div>
    <br>
    <div class="container-fluid">
        <div th:insert="fragments/form :: form"></div>
        <br>
        <div th:insert="fragments/calendar :: calendar"></div>
        <br>
    </div>

</body>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</html>