<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>

<p>Simple example <a href="/greeting">Here</a></p>
<!--    <div th:insert="fragments/header :: navbar"></div>
    <br>
    <div class="container-fluid">
        <div th:insert="fragments/form :: form"></div>
        <br>
        <div th:insert="fragments/calendar :: calendar"></div>
        <br>
    </div>-->

</body>
<script th:src="@{/js/bootstrap.js}"></script>
</html>